html
    head
        title= `${firstName} page!`
    <body>
    h1 User info:

        ul
            li=firstName
            li=lastName
            li=email
            li=age
            li=phoneNumber
            li=age
        
    